#whole-body {
    background-color: black;
    overflow: hidden;
}

#bottom-pic-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 135px;
}

#pic-under-left {
    width: 100%;
    background-image: url("./Components/NavBar/NavbarImages/verschnörkelung-links-unten.png");
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: contain;
}

#pic-under-right {
    width: 100%;
    background-image: url("./Components/NavBar/NavbarImages/verschnörkelung-rechts-unten.png");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;

}

#appointment-scroller {
    height: 180px; 
}

@media only screen and (max-width: 580px) {

    #ceo-scroller {
        height: 100px;
    }

    #appointment-scroller {
        height: 125px;
    }

    #pic-under-left {
       background-size: 6em 6em;
    }
    
    #pic-under-right {
        background-size: 6em 6em;
    }
}