body {
  margin: 0;
  color: white;
  font-family: Angelwish;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*
@font-face {
  font-family: "AlphaProta";
  src: url('AlphaProta.ttf') format('truetype'), url('AlphaProta.ttf') format('truetype');
}
*/
@font-face {
  font-family: "Chomsky";
  src: url('Chomsky.otf') format('opentype'), url('Chomsky.otf') format('opentype');
}

@font-face {
  font-family: "Angelwish";
  src: url('Angel wish.ttf') format('truetype'), url('Angel wish.ttf') format('truetype');
}

