#place-headline {
    color: #cab600;
    font-size: 50px;
    margin-bottom: 60px;
}

#adress {
    font-size: 24px;
    display: flex;
    flex-direction: row;

    color: white;
    text-decoration: none;
}

#adress-block {
    width: 90%;

    margin-bottom: 20px;
    text-align: start;
}