@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#whole-slider {
    width: 80%;
    margin: 10rem auto;
    height: 570px;
}

.slide img {
    width: 100%;
    margin: 0 auto;
    border: 1px solid white;
}

.slide {
    transform: scale(0.4);
    transition: transform 700ms;
    opacity: 0.5;
}

.active-slide {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
}

.nonactive-slide {
    z-index: 0;
}

.slick-dots li.slick-active button:before {
    margin-top: 10px;
    color: white;
}

.slick-dots li button:before {
    margin-top: 12px;
    color: white;
}