@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

#slider-three {
    width: 85%;
    margin: 10rem auto;
    transition: ease;
    transition-duration: 0.7s;
}

.slide img {
    width: 100%;
    margin: 0 auto;
    border: 1.5px solid rgb(255, 234, 47);
}

.slide {
    transform: scale(0.7);
    transition: transform 700ms;
    opacity: 0.5;
}

.active-slide {
    transform: scale(1);
    opacity: 1;
    z-index: 10;
}

#slider-one {
    display: none;
}

.active-slide-one {
    transform: scale(0.65);
    opacity: 1;
    z-index: 10;
}

.nonactive-slide {
    z-index: 0;
}

.slick-dots li.slick-active button:before {
    margin-top: 10px;
    color: rgb(255, 234, 47);
}

.slick-dots li button:before {
    margin-top: 12px;
    color: white;
}

@media only screen and (max-width: 710px) {
    
    .slick-dots li.slick-active button:before {
        margin-top: 30px;
        color: white;
    }
    
    .slick-dots li button:before {
        margin-top: 35px;
        color: white;
    }
}

@media only screen and (max-width: 500px) {

    #slider-one {
        display: block;
        margin: 10rem auto;
        transition: ease;
        transition-duration: 0.7s;
    }

    .slick-prev {
        left: 20px;
    }

    .slick-next {
        right: 20px;
    }

    #slider-three {
        display: none;
    } 

    .slick-dots li.slick-active button:before {
        margin-top: -70px;
        color: white;
    }
    
    .slick-dots li button:before {
        margin-top: -65px;
        color: white;
    }

}


@media only screen and (max-width: 405px) {
    .slick-dots li.slick-active button:before {
        margin-top: 15px;
        color: white;
    }
    
    .slick-dots li button:before {
        margin-top: 20px;
        color: white;
    }
}

@media only screen and (max-width: 520px) {
    #whole-slider {
        width: 75%;
        margin: 10rem auto;
        height: 470px;

        transition: ease;
        transition-duration: 0.7s;
    }
}