.whole-ceo {
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 70px;
    background-color: black;
    padding-top: 150px;
    padding-bottom: 150px;
}

#ceo-content {
    width: 70%;
    margin-left: 15%; 
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 40px;
    transition: ease;
    transition-duration: 0.7s;
}

#ceo-image {
    width: 400px;
    border: 1px solid rgb(255, 234, 47);
    transition: ease;
    transition-duration: 0.7s;
}

#whole-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: ease;
    transition-duration: 0.7s;
}

#ceo-text {
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 24px;
}

#ceo-name-headline {
    background: url(CEOImages/gold.png) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;

    font-size: 40px;
}

@media only screen and (max-width: 910px) {
   
    #ceo-content {
        transition: ease;
        transition-duration: 0.7s;
        flex-direction: column;
        align-items: center;

    }

    #whole-text {
        align-items: center;
        transition: ease;
        transition-duration: 0.7s;
    }
}

@media only screen and (max-width: 520px) {

    #ceo-image {
        width: 300px;
        border: 1px solid white;
        transition: ease;
        transition-duration: 0.7s;
        margin-top: -50px;
    }

}

@media only screen and (max-width: 500px) {

    #ceo-image {
        width: 300px;
        border: 1px solid white;
        transition: ease;
        transition-duration: 0.7s;
        margin-top: -100px;
    }

}

@media only screen and (max-width: 370px) {

    #ceo-image {
        width: 250px;
        border: 1px solid white;
        transition: ease;
        transition-duration: 0.7s;
        margin-top: -50px;
    }

}