/*HEADLINE*/
#appointment-headline {
    background: url(gold.png) no-repeat bottom center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;

    font-size: 50px;
    margin-bottom: 60px;
}

/*APPOINTMENT BOX*/
#whole-appointmentinput-box {
    width: 70%;
    border-radius: 10px;
    background-color: rgb(48, 48, 48);
    padding: 40px; 
    font-family: serif;
}

#inner-appointmentinput-box {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*TEXT*/
.input-text {
    font-size: 28px;
    color: rgb(216, 216, 216);
    margin-bottom: 5px;
}

/*INPUTS*/
.reg-input {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    background-color: black;
    border: 2px solid rgb(68, 68, 68);
    color: white;
    
    font-size: 24px;
}

#name-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.full-input {
    width: 40%;
}

.half-input {
    width: 100%;
    height: 30px;
    border-radius: 7px;
    background-color: black;
    border: 2px solid rgb(68, 68, 68);
    color: white;
    
    font-size: 24px;
}

/*SINGLE-INPUT*/
.single-input {
    padding-top: 10px;
    padding-bottom: 10px;
}

/*BUTTON LINE*/
#button-line {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

#submit-button {
    font-size: 24px;
    color: white;
    padding: 10px;
    border-radius: 7px;
    background-color: rgb(94, 94, 94);
    transition: ease;
    transition-duration: 0.3s;
}

#submit-button:hover {
    cursor: pointer; 
    background-color: rgb(14, 14, 14);
    transition: ease;
    transition-duration: 0.3s;
}

#pflichtfeld {
    font-size: 22px;
}

.input-field {
    display: flex;
    flex-direction: column;
}

.error-message {
    font-family: serif !important; 
    font-size: 14px;
    color: red;
    font-weight: lighter;
}

@media only screen and (max-width: 730px) {
    .input-text {
        font-size: 20px;
    }

    #pflichtfeld {
        font-size: 14px;
    }
    
    #submit-button {
        font-size: 14px;
    }
}