@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";


.single-artist {
    width: 200px;
    height: 300px;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.5s;
}

.single-artist:hover {
    opacity: 0.7;
    transition: ease;
    transition-duration: 0.5s;
}


/*ARTIST PICTURES*/
#moon-on-single-artist {
    width: 35px;
    padding-bottom: 150px;
    padding-left: 160px;
}

.bauchbinde {
    margin-top: -300px;
}

.bauchbinde-inhalt {
    margin-top: -80px;
    padding-left: 20px;
}

.artist-name {
    font-weight: bold;
    font-size: 18px;
}

.artist-attributes {
    font-size: 14px;
}

.artist-image {
    width: 100%;
}

.overlay {
    width: 0px;
    height: 0px;
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0);
    overflow: hidden; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: ease;
    transition-duration: 1.5s;
}




/*OVERLAY*/

/*TATTOWIERER LINE*/
#moon-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-right: 40px;
}

#overlay-title {
    font-size: 24px;
}

#overlay-title-image {
    width: 40px;
}



/*CLOSE-BUTTON*/
.close-button-line {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
    margin-left: -10px;
}

#close-button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.3s;
}

#close-button:hover {
    opacity: 0.7;
    transition: ease;
    transition-duration: 0.3s;
}


/*OVERLAY-CONTENT*/
.overlay-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    opacity: 0;
    
    transition: ease;
    transition-duration: 0.7s;
}

#image-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#artist-overlay-pic {
    width: 600px;
    margin-bottom: 300px;
}

#artist-text-content {
    color: white;
    display: flex;
    flex-direction: column;
}

#only-text {
    display: flex;
    flex-direction: row;
    margin-top: 100px;
}

#appointment-container {
    margin-top: 20px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

#appointment-inner-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#artist-attributes {
    margin-top: 140px;
}

#text-and-slider {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 150px;
}

.further-artist-attributes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 200px;
    margin-top: 10px;
}

/*TEXT*/

.appointment-detail {
    font-size: 20px;
    margin-top: 10px;
    text-align: end;
}

#appointment-headline {
    width: 100%;
    font-weight: bold;
    text-align: end;
}

#artist-headline-artistname {
    font-size: 50px;
}

#artist-headline-realname {
    margin-top: 30px;
    font-size: 30px;
    color: blueviolet;
}

#artist-text {
    font-size: 20px;
}

#themes-headline {
    margin-top: 80px;
    font-size: 28px;
    margin-bottom: 10px;
}

.single-theme {
    color: green;
    font-size: 20px;
    margin-top: 10px;
}

#appointment-headline {
    font-size: 30px;
}

/*CAROUSELS*/

#whole-slider-artist {
    width: 900px;
    height: 600px;
    margin-top: 250px;
}

.slide-artists img {
    width: 80%;
    margin: 0 auto;
    border: 2px solid white;
}

.slide-artists {
    transition: transform 700ms;
    opacity: 1;
}

.active-slide {
    opacity: 1;
    z-index: 10;
}

.nonactive-slide {
    z-index: 0;
}

.slick-dots li.slick-active button:before {
    margin-top: 10px;
    color: white;
}

.slick-dots li button:before {
    margin-top: 12px;
    color: white;
}