@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.single-artist {
    width: 200px;
    height: 300px;
    border: 1px solid white;
    background-color: black;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.5s;
}

.single-artist:hover {
    opacity: 0.7;
    transition: ease;
    transition-duration: 0.5s;
}


/*ARTIST PICTURES*/
#moon-on-single-artist {
    width: 35px;
    padding-bottom: 150px;
    padding-left: 160px;
}

.bauchbinde {
    margin-top: -120px;
}

.bauchbinde-inhalt {
    margin-top: -80px;
    padding-left: 20px;
}

.artist-name {
    font-weight: bold;
    font-size: 18px;
}

.artist-attributes {
    font-size: 14px;
}

.artist-image {
    width: 100%;
}

.overlay {
    width: 0px;
    height: 0px;
    position: fixed;
    z-index: 1500;
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0);
    overflow: hidden; 

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    transition: ease;
    transition-duration: 1.5s;
}




/*OVERLAY*/

/*CLOSE-BUTTON-LINE*/
.close-button-line {
    width: 95%;
    margin-left: 4%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px; 
    margin-top: 10px;
}

#type-of-artist {
    font-size: 24px;
}

#close-button {
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: ease;
    transition-duration: 0.3s;
}

#close-button:hover {
    opacity: 0.7;
    transition: ease;
    transition-duration: 0.3s;
}





#overlay-artist-name  {
    margin-top: 10px;
    font-size: 40px;
}




/*ACTUAL-OVERLAY-CONTENT*/
.overlay-content {
    width: 90%;
    margin-left: 5%;
    height: 80%;
    margin-bottom: 5%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    
    transition: ease;
    transition-duration: 0.7s;
}

/*ONLY TEXT AN IMAGE*/
#overlay-content-middle {
    display: flex;
    flex-direction: row;
    width: 90%;
    height: 50%;
    margin-left: 5%;
    margin-bottom: 3%;
    justify-content: space-between;
}

#img-and-theme {
    display: flex;
    flex-direction: row;
    width: 66%;
    justify-content: space-between;
}


/*LEFT SIDE*/
#overlay-left-side {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

#tat-state {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    margin-top: 10%;
}

#state-available {
    color: greenyellow;
}

#sincewhen-container {
    font-size: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}


/*MIDDLE SIDE*/
#overlay-middle-side {
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#artist-overlay-pic {
    border: 1px solid white;
    margin-top: 20px;
    width: 50%;

    transition: ease;
    transition-duration: 0.5s;
}

#text-under-pic {
    display: none;
    opacity: 0;
}

#theme-below-pic {
    display: flex; 
    flex-direction: row;
    gap: 15px;
}

.below-pic-single-theme {
    display: none;
}

/*RIGHT SIDE*/
#overlay-right-side {
    width: 33%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#artist-text-content {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#themes-headline {
    margin-top: 20px;
    font-size: 28px;
    margin-bottom: 10px;
    text-align: end;
}

.single-theme {
    text-align: end;
    color: green;
    font-size: 20px;
    margin-top: 10px;
}


/*SLIDER*/

#whole-slider-container {
    width: 92%;
    margin-left: 4%;
    margin-top: -5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#whole-slider-artist-five {
    width: 100%;
    margin-top: 100px;
}

#whole-slider-artist-three {
    display: none;
}

.slide-artists img {
    width: 80%;
    margin: 0 auto;
    border: 2px solid white;
}

.slide-artists {
    transition: transform 700ms;
    opacity: 1;
}

.active-slide {
    opacity: 1;
    z-index: 10;
}

.nonactive-slide-artist {
    z-index: 0;
}
/*
.slick-dots li.slick-active button:before {
    margin-top: 10px;
    color: white;
}

.slick-dots li button:before {
    margin-top: 12px;
    color: white;
}
*/
@media only screen and (max-width: 1400px) {
    
    #artist-overlay-pic {
        width: 60%;

        transition: ease;
        transition-duration: 0.5s;
    }

}

@media only screen and (max-width: 1100px) {
    
    #artist-overlay-pic {
        width: 70%;

        transition: ease;
        transition-duration: 0.5s;
    }

}

@media only screen and (max-width: 850px) {
    
    #text-under-pic {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 1;

        transition: ease;
        transition-duration: 0.7s;
    }

    #overlay-left-side { 
        display: none;
    }

}

@media only screen and (max-width: 680px) {
    
    .below-pic-single-theme {
        display: flex;
        width: 80px; 
        justify-content: center;
        color: green;
        font-weight: bold;
        margin-top: 15px;
    }

    #overlay-right-side {
        display: none;
    }

    #overlay-content-middle {
        justify-content: center;
    }

}

@media only screen and (max-width: 680px) { 

    #artist-overlay-pic {
        width: 90%;
    }

}

@media only screen and (max-width: 500px) { 

    #artist-overlay-pic {
        width: 120%;
    }

} 

@media only screen and (max-width: 450px) { 

    #whole-slider-artist-five {
        display: none;
    }

    #whole-slider-artist-three {
        display: block;
        width: 100%;
        margin-top: 100px;
    }
} 



@media only screen and (max-width: 390px) { 

    #artist-overlay-pic {
        width: 140%;
    }

}