
.whole-gamble {
    width: 60%;
    margin-left: 20%;

    margin-top: 151px;
    margin-bottom: 101px;
}

#gamble-image {
    width: 100%;
}

@media only screen and (max-width: 490px) {
    .whole-gamble {
        width: 90%;
        margin-left: 5%;
    
        margin-top: 101px;
        margin-bottom: 80px;
    }
}