#footer-spacer {
    width: 100%;
    height: 2px;
}

#whole-footer {
}

#footer-content {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 50px;
    background-color: black;
}

.footer-item {
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    gap: 10px;
}

.footer-headline {
    font-size: 35px;
    margin-bottom: 10px;

    background: url(FooterImages/gold.png) no-repeat center center;
	background-size: cover;
	color: #fff;
	-webkit-text-fill-color: transparent;
	-webkit-background-clip: text;
}

.footer-attributes {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#footer-left-content {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

#footer-right-content {
    display: flex;
    flex-direction: column;
}

#footer-inner-content {
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#follow-us {
    font-size: 26px;
}

#footer-socails {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 20px;
}

.socials-pic {
    width: 42px;
    height: 42px;
    margin-right: 20px;
    cursor: pointer;
}

#tel-num {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#tel-num:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media only screen and (max-width: 940px) {
    
    #footer-inner-content {
        width: 90%;
        margin-left: 5%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }


    #footer-inner-content {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    #footer-content {
        height: 350px;
        padding-bottom: 40px;
    }
}

@media only screen and (max-width: 650px) {

    #footer-left-content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: -50px;
    }

    #footer-content {
        height: 500px;
        padding-bottom: 40px;
    }

    #footer-right-content {
        margin-left: -30px;
    }

}